body {
  background-color: #062F4F;
	display: grid;
}

h1 {
	color: whitesmoke;
}

p {
	color: whitesmoke;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container {
  display: grid;
}