body {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    height: 80vh;
    flex-direction: column;
    background: #cccbc6;
}

header {
    text-align: center;
    font-size: xx-large;
}
div {
    display: flex;
    flex: 1;
    background: #efd9c1;
}

main {
    flex: 1;
    background: #a9b7c0;
}

ul, aside {
    flex: 0 0 12em;
}

ul {
    order: -1;
    list-style: none;
}